:root {
  --white: white;
  --yellow: rgb(180, 163, 5);
  --purple: purple;
  --green: #1db954;
}

html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button {
  font-family: "Poppins", sans-serif;
}
